.margin-top {
	margin-top: 20px;
}

.zero-margin-top {
	margin-top: 0px;
}

.search-margin-left {
	margin-left: 5px;
}

.white {
	color:#fff;
}

.left-column-headers {
	line-height:15px; 
	text-transform:uppercase; 
	font-weight:700;
}

ul {
	list-style-type: none;
	margin-left:0px;
	margin-top:10px;
}

li {
	margin-left:0px;
}

li.active a {
	color:#fff;
	background-color:#000;
}

.margin-bottom {
	margin-bottom: 40px;
}

textarea, input { 
	outline: 0 none; 
}

textarea, input[type="text"] {
	background-position: 0 0;
	background-repeat: no-repeat;
	border: 1px solid #333333;
	font-size: 12px;
	line-height: 20px;
	padding: 1px;
	width: 50%;
}

label {
	display: inline-block;
	line-height: 1.8;
	vertical-align: top;
	width: 250px;
}

h1 a:hover {
	text-decoration:none;
}

.error {
	color: #900;
	margin-bottom:20px;
}

#recaptcha_image {
	display: inline-block;
	/*IE7 hack*/
	*display: inline;
	*zoom: 1;
	margin-top:5px;
}

.captcha-buttons {
	margin-left:10px;
}

.created-at {
	margin-top:20px;
}
/*******************************************************/
/* override default bootstrap stuff (e.g.sticky footer)*/
/*******************************************************/
html,
 body {
	height: 100%;
	line-height:22px;
	/* The html and body elements cannot have any padding or margin. */
 }

h1, h2{
	text-transform:uppercase;
}

h2.zero_line_height {
	line-height:0px;
}
	
h2 small {
	color: #777;
}