---
layout: default
---
<div class="row margin-top with-border">
	<div class="span7">
		{{ content }}
	</div>
	<div class="span2">
	<div class="left-column-headers" style="margin-top:0px;">Archiv</div>
	<ul>
	{% for post in site.posts %}
	<li><a href="{{ post.url }}">{{ post.title }}</a></li>
	{% endfor %}
	</ul>
	<div class="margin-top left-column-headers">Blogroll</div>
	<ul>
	<li><a href="http://jeriko.de">jeriko</a></li>
	<li><a href="http://www.klangboot.de/">klangboot</a></li>
	<li><a href="http://morganmaassen.tumblr.com/">morganmaassen</a></li>
	<li><a href="http://ruhrgestalten.tumblr.com/">ruhrgestalten</a></li>
	<li><a href="http://ruhrspeak.de/">ruhrspeak</a></li>
	<li><a href="http://talesofendurance.tumblr.com/">talesofendurance</a></li>
	</ul>
	</div>
</div>