<!DOCTYPE html>
<html>
  <head>
    <title>pottraitiert</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
	<!-- Pottraitiert -->
	<link href="/css/pottraitiert.css" rel="stylesheet" media="screen">
  </head>
  <body>
	<div class="wrap">
	<div class="container">
	<div class="row">
			<div class="span9">
    			<h1>pottraitiert</h1>
			</div>
	</div>
	{{content}}
    </div>
	
	<div class="push"></div>
    </div>

	<div class="footer">
		<div class="container">
			<div class="margin-top white">
			  Kontakt | Impressum
			</div>
		</div>
	</div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
  </body>
</html>