<!DOCTYPE html>
<html>
  <head>
    <title>POTTRAITIERT</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
	<!-- Pottraitiert -->
	<link href="/css/pottraitiert.css" rel="stylesheet" media="screen">
  </head>
  <body>
	<div class="wrap">
	<div class="container">
	<div class="row">
			<div class="span10">
    			<h1><a href="/index.html" name="top">pottraitiert</a></h1>
			</div>
	</div>
	<div class="row margin-top margin-bottom">
		{{ content }}
    </div>
	</div>
	<div class="push"></div>
    </div>

	<div class="footer">
		<div class="container">
			<div class="margin-top white">
			  <a href="/kontakt.html#kontakt">Kontakt</a> &#124; <a href="/kontakt.html#impressum">Impressum</a> &#124; <a href="/rss.xml">RSS</a>
			</div>
		</div>
	</div>
  </body>
  	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	<script>
	$(document).ready(function () {
	        $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
	    });
	</script>
</html>