<!DOCTYPE html>
<html>
  <head>
    <title>pottraitiert</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
	<!-- Pottraitiert -->
	<link href="/css/pottraitiert.css" rel="stylesheet" media="screen">
  </head>
  <body>
	<div class="wrap">
	<div class="container">
	<div class="row">
			<div class="span9">
    			<h1>pottraitiert</h1>
			</div>
	</div>
	<div class="row margin-top with-border">
		<div class="span7">
			{{ content }}
		</div>
		<div class="span2">
		<div class="left-column-headers" style="margin-top:0px;">Archiv</div>
		<ul>
		{% for post in site.posts %}
		<li><a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
		</ul>
		<div class="margin-top left-column-headers">Blogroll</div>
		<ul>
		<li><a href="http://jeriko.de">jeriko</a></li>
		<li><a href="http://www.klangboot.de/">klangboot</a></li>
		<li><a href="http://morganmaassen.tumblr.com/">morganmaassen</a></li>
		<li><a href="http://ruhrgestalten.tumblr.com/">ruhrgestalten</a></li>
		<li><a href="http://ruhrspeak.de/">ruhrspeak</a></li>
		<li><a href="http://talesofendurance.tumblr.com/">talesofendurance</a></li>
		</ul>
		</div>
	</div>
    </div>
	
	<div class="push"></div>
    </div>

	<div class="footer">
		<div class="container">
			<div class="margin-top white">
			  Kontakt | Impressum
			</div>
		</div>
	</div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
  </body>
</html>